experiments/experiment9/node_red_flow.json
[
    {
        "id": "e2b7c2e2.7c2b18",
        "type": "mqtt in",
        "z": "2e9b4f2c.5c5a8a",
        "name": "Temperature",
        "topic": "sensors/esp32/temp",
        "qos": "0",
        "datatype": "auto",
        "broker": "a1c5a8e8.5b2a1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 120,
        "wires": [["g1"]]
    },
    {
        "id": "g1",
        "type": "ui_gauge",
        "name": "Temperature",
        "group": "g1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "25",
        "seg2": "35",
        "x": 470,
        "y": 120,
        "wires": []
    },
    {
        "id": "e2b7c2e2.7c2b19",
        "type": "mqtt in",
        "z": "2e9b4f2c.5c5a8a",
        "name": "Humidity",
        "topic": "sensors/esp32/humidity",
        "qos": "0",
        "datatype": "auto",
        "broker": "a1c5a8e8.5b2a1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 180,
        "wires": [["g2"]]
    },
    {
        "id": "g2",
        "type": "ui_gauge",
        "name": "Humidity",
        "group": "g1",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "30",
        "seg2": "70",
        "x": 450,
        "y": 180,
        "wires": []
    },
    {
        "id": "e2b7c2e2.7c2b1a",
        "type": "mqtt in",
        "z": "2e9b4f2c.5c5a8a",
        "name": "Motion",
        "topic": "sensors/esp32/motion",
        "qos": "0",
        "datatype": "auto",
        "broker": "a1c5a8e8.5b2a1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 240,
        "wires": [["s1"]]
    },
    {
        "id": "s1",
        "type": "ui_switch",
        "name": "Motion Detected",
        "label": "Motion",
        "tooltip": "",
        "group": "g1",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "style": "",
        "className": "",
        "x": 440,
        "y": 240,
        "wires": []
    },
    {
        "id": "b1",
        "type": "ui_button",
        "name": "LED Control",
        "group": "g1",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Toggle LED",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "actuators/esp32/led",
        "topicType": "str",
        "x": 220,
        "y": 300,
        "wires": [["o1"]]
    },
    {
        "id": "o1",
        "type": "mqtt out",
        "name": "LED Control",
        "topic": "actuators/esp32/led",
        "qos": "0",
        "retain": "false",
        "broker": "a1c5a8e8.5b2a1",
        "x": 450,
        "y": 300,
        "wires": []
    },
    {
        "id": "a1c5a8e8.5b2a1",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "g1",
        "type": "ui_group",
        "name": "ESP32 Dashboard",
        "tab": "t1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "t1",
        "type": "ui_tab",
        "name": "ESP32 Control",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
